#include <resource.h>

100	DIALOG	DISCARDABLE MOVEABLE 0,0,95,23
STYLE DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SETFONT
CAPTION "UnPECompact2"
FONT 8,"Courier New"
{
	PUSHBUTTON	"&Unpack",1000,5,5,40,13,,WS_EX_STATICEDGE
	PUSHBUTTON	"&About",1001,50,5,40,13,,WS_EX_STATICEDGE
}
