////////////////////////////////////////

#include		<afxres.h>
#include    <commctrl.h>

#define			FaceName	"MS Shell Dlg"
#define			FontSize	8

/*
 * menu
 ***/

100					MENUEX		DISCARDABLE
{
	POPUP			"&File",0,0,0
	{
		MENUITEM	"&Open\tCtrl+O",100,0,0
		MENUITEM	"&Close",110,0,0
		MENUITEM	"R&escan\tCtrl+E",111,0,0
		MENUITEM	"",0,MFT_SEPARATOR,0
		POPUP			"&Tools",0,0,0
		{
			MENUITEM	"&Dump Resource\tCtrl+D",400,0,0
			MENUITEM	"&Task Viewer\tCtrl+T",402,0,0
			MENUITEM	"Dis&assembler\tCtrl+S",403,0,0
			MENUITEM	"&FileLocation Calculator\tCtrl+R",404,0,0
			MENUITEM	"TimeDateStamp Calc&ulator\tCtrl+U",405,0,0
			MENUITEM	"PE &Editor\tCtrl+P",406,0,0
		}
		MENUITEM	"",0,MFT_SEPARATOR,0
		POPUP			"&Recent Files",801,0,MFS_DISABLED | MFS_GRAYED
		{
			MENUITEM	"&Recent Files",IDC_STATIC,0,0
			MENUITEM  "",0,MFT_SEPARATOR,0
		}
		MENUITEM	"",0,MFT_SEPARATOR,0
		MENUITEM	"&Quit\tCtrl+Q",101,0,0
	}
	POPUP			"&Advance",0,0,0
	{
		MENUITEM	"&New Instance\tCtrl+I",407,0,0
		MENUITEM	"",0,MFT_SEPARATOR,0
		MENUITEM	"&Configure",800,0,0
	}
	POPUP			"&Help",0,0,0
	{
		MENUITEM	"&About",102,0,0
	}
}

/*
 * accelerators
 ***/

100					ACCELERATORS	
{
						"O",100,VIRTKEY,CONTROL
						"Q",101,VIRTKEY,CONTROL
						"D",400,VIRTKEY,CONTROL
						"T",402,VIRTKEY,CONTROL
						"S",403,VIRTKEY,CONTROL
						"E",111,VIRTKEY,CONTROL
						"R",404,VIRTKEY,CONTROL
						"U",405,VIRTKEY,CONTROL
						"P",406,VIRTKEY,CONTROL
						"I",407,VIRTKEY,CONTROL
						VK_F8,700,VIRTKEY
						VK_F9,701,VIRTKEY
}

/*
 * dialog
 ***/
 
100 				DIALOGEX 0,0,394,186
STYLE 			DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
EXSTYLE 		WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION 		"Import Function(s)/Task Viewer"
FONT 				FontSize,FaceName
{
	CONTROL			"",1,"SysListView32",LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | WS_TABSTOP | CBS_SIMPLE | CBS_OEMCONVERT,2,2,390,90,WS_EX_STATICEDGE
	CONTROL			"",2,"SysListView32",LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | WS_TABSTOP | CBS_SIMPLE | CBS_OEMCONVERT,2,92,390,90,WS_EX_STATICEDGE
}

////////////////////////////////////////

101 				DIALOGEX 0,0,360,177
STYLE 			DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
EXSTYLE 		WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION 		"[ Export Function(s) ]"
FONT 				FontSize,FaceName
{
	CONTROL			"",1050,"SysListView32",LVS_SHAREIMAGELISTS |LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | WS_TABSTOP | CBS_SIMPLE | CBS_SORT | CBS_OEMCONVERT,5,85,350,84,WS_EX_STATICEDGE
	EDITTEXT		1051,65,9,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1052,65,23,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1053,65,37,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1054,65,51,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1055,65,65,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1056,289,9,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1057,289,23,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1058,289,36,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1059,289,51,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1060,289,65,62,10,ES_AUTOHSCROLL | ES_READONLY
	EDITTEXT		1061,135,51,74,10,ES_AUTOHSCROLL | ES_READONLY
	RTEXT				"Characteristic:",IDC_STATIC,8,10,54,8,WS_GROUP
	RTEXT				"TimeDateStamp:",IDC_STATIC,8,23,53,8,WS_GROUP
	RTEXT				"Version:",IDC_STATIC,11,37,50,8,WS_GROUP
	RTEXT				"Name:",IDC_STATIC,19,51,42,8,WS_GROUP
	RTEXT				"Base:",IDC_STATIC,15,65,45,8,WS_GROUP
	RTEXT				"NumberOfFunctions:",IDC_STATIC,219,10,67,8,WS_GROUP
	RTEXT				"NumberOfNames:",IDC_STATIC,219,24,67,8,WS_GROUP
	RTEXT				"AddressOfFunctions:",IDC_STATIC,219,38,67,8,WS_GROUP
	RTEXT				"AddressOfNames:",IDC_STATIC,219,51,67,8,WS_GROUP
	RTEXT				"AddressOfNameOrdinals:",IDC_STATIC,199,66,87,8,WS_GROUP
	GROUPBOX		"Information",IDC_STATIC,5,0,350,80,0
}

////////////////////////////////////////

102 DIALOGEX 0, 0, 352, 174
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ PE Editor ]"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    PUSHBUTTON      "Close", 1007, 295, 6, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Save", 1006, 295, 21, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    GROUPBOX        "Basic PE Header Information", IDC_STATIC, 5, 2, 284, 165
    LTEXT           "EntryPoint:", IDC_STATIC, 10, 19, 35, 8, SS_LEFT
    LTEXT           "ImageBase:", IDC_STATIC, 10, 32, 38, 8, SS_LEFT
    LTEXT           "SizeOfImage:", IDC_STATIC, 10, 55, 43, 8, SS_LEFT
    LTEXT           "BaseOfCode:", IDC_STATIC, 10, 68, 43, 8, SS_LEFT
    LTEXT           "BaseOfData:", IDC_STATIC, 10, 81, 42, 8, SS_LEFT
    LTEXT           "SizeOfHeaders:", IDC_STATIC, 134, 56, 50, 8, SS_LEFT
    LTEXT           "SectionAlignment:", IDC_STATIC, 10, 94, 58, 8, SS_LEFT
    LTEXT           "FileAlignment:", IDC_STATIC, 10, 107, 44, 8, SS_LEFT
    LTEXT           "Subsystem:", IDC_STATIC, 134, 19, 37, 8, SS_LEFT
    LTEXT           "NumberOfSections:", IDC_STATIC, 134, 32, 62, 8, SS_LEFT
    LTEXT           "TimeDateStamp:", IDC_STATIC, 134, 44, 54, 8, SS_LEFT
    LTEXT           "Characteristics:", IDC_STATIC, 134, 68, 49, 8, SS_LEFT
    CONTROL         "", 1008, "16EditControl", 0x5080008A, 72, 17, 42, 12
    CONTROL         "", 1009, "16EditControl", 0x5080008A, 72, 30, 42, 12
    CONTROL         "", 1010, "16EditControl", 0x5080008A, 72, 54, 42, 12
    CONTROL         "", 1011, "16EditControl", 0x5080008A, 72, 67, 42, 12
    CONTROL         "", 1012, "16EditControl", 0x5080008A, 72, 80, 42, 12
    CONTROL         "", 1013, "16EditControl", 0x5080008A, 211, 54, 42, 12
    CONTROL         "", 1014, "16EditControl", 0x5080008A, 72, 93, 42, 12
    CONTROL         "", 1015, "16EditControl", 0x5080008A, 72, 106, 42, 12
    CONTROL         "", 1016, "16EditControl", 0x5080008A, 211, 15, 42, 12
    CONTROL         "", 1017, "16EditControl", 0x5080008A, 211, 28, 42, 12
    CONTROL         "", 1018, "16EditControl", 0x5080008A, 211, 41, 42, 12
    CONTROL         "", 1019, "16EditControl", 0x5080008A, 211, 67, 42, 12
    PUSHBUTTON      "FLC", 1021, 295, 123, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "...", 1023, 253, 67, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    LTEXT           "Checksum:", IDC_STATIC, 134, 81, 36, 8, SS_LEFT
    CONTROL         "", 1024, "16EditControl", 0x5080008A, 211, 80, 42, 12
    PUSHBUTTON      "?", 1025, 253, 80, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    LTEXT           "SizeOfOptionalHeader:", IDC_STATIC, 134, 94, 73, 8, SS_LEFT
    CONTROL         "", 1026, "16EditControl", 0x5080008A, 211, 93, 42, 12
    PUSHBUTTON      "Compare", 1027, 295, 152, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "+", 1028, 267, 54, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "...", 1029, 254, 15, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "TDSC", 1030, 295, 137, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "?", 1031, 253, 54, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    LTEXT           "Magic:", IDC_STATIC, 10, 120, 22, 8, SS_LEFT
    CONTROL         "", 1032, "16EditControl", 0x5080008A, 72, 119, 42, 12
    LTEXT           "NumOfRvaAndSizes:", IDC_STATIC, 134, 107, 68, 8, SS_LEFT
    CONTROL         "", 1033, "16EditControl", 0x5080008A, 211, 106, 42, 12
    PUSHBUTTON      "+", 1034, 254, 106, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "-", 1035, 268, 106, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    CONTROL         "", 1, "16EditControl", 0x5080008A, 72, 41, 42, 12
    LTEXT           "SizeOfCode:", IDC_STATIC, 134, 120, 40, 8, SS_LEFT
    CONTROL         "", 2, "16EditControl", 0x5080008A, 211, 119, 42, 12
    LTEXT           "MajorLinkerVersion:", IDC_STATIC, 9, 132, 63, 8, SS_LEFT
    CONTROL         "", 3, "16EditControl", 0x5080008A, 72, 131, 42, 12
    LTEXT           "MinorLinkerVersion:", IDC_STATIC, 134, 132, 63, 8, SS_LEFT
    CONTROL         "", 4, "16EditControl", 0x5080008A, 211, 131, 42, 12
    LTEXT           "DllCharacteristics", IDC_STATIC, 9, 145, 55, 8, SS_LEFT
    CONTROL         "", 5, "16EditControl", 0x5080008A, 72, 144, 42, 12
    PUSHBUTTON      "...", 6, 115, 144, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    LTEXT           "Machine:", IDC_STATIC, 134, 145, 30, 8, SS_LEFT
    CONTROL         "", 7, "16EditControl", 0x5080008A, 211, 144, 42, 12
    PUSHBUTTON      "...", 8, 254, 144, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Directories", 9, 295, 108, 51, 14, NOT WS_TABSTOP ,WS_EX_STATICEDGE
}

////////////////////////////////////////

103					DIALOGEX 0,0,134,53
STYLE				DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION
EXSTYLE			WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION			"[ TimeDateStamp ]"
FONT				FontSize,FaceName, 0, 0, 1
{
	LTEXT				"RVA(Hex.)",1000,2,2,40,13,WS_CHILD | WS_VISIBLE,,
	CONTROL			"",200,"16EditControl",WS_VISIBLE | WS_CHILD | ES_AUTOHSCROLL | WS_BORDER,44,2,86,13
	LTEXT				"Offset(Hex.)",1001,2,17,40,13,WS_CHILD | WS_VISIBLE,,
	CONTROL			"",201,"EDIT",WS_VISIBLE | WS_CHILD | ES_READONLY | ES_AUTOHSCROLL | WS_BORDER,44,17,86,13
	PUSHBUTTON	"&Calculate",1,17,37,70,13,WS_VISIBLE | WS_CHILD,WS_EX_STATICEDGE
	PUSHBUTTON	"+",2,105,37,13,13,WS_VISIBLE | WS_CHILD,WS_EX_STATICEDGE
	CONTROL			"",202,"SysDateTimePick32",WS_VISIBLE | WS_CHILD,2,57,60,13,,
	CONTROL			"",203,"SysDateTimePick32",WS_VISIBLE | WS_CHILD | DTS_TIMEFORMAT,72,57,60,13,,
}

////////////////////////////////////////

104					DIALOGEX	0,0,274,154
STYLE				DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
EXSTYLE			WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION			"[ PE Disassembler ]"
FONT				FontSize,FaceName, 0, 0, 1
{
  CONTROL			"",1,"SysListView32",LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | WS_CHILD | WS_BORDER | WS_VISIBLE | LVS_REPORT,0,0,274,154,WS_EX_STATICEDGE
}

////////////////////////////////////////

105 DIALOGEX 0, 0, 242, 110
STYLE DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION
EXSTYLE	WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ File Location Calculator ]"
FONT FontSize, FaceName, 0, 0, 1
{
    PUSHBUTTON      "DO", 1052, 185, 4, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", 1059, 185, 23, 51, 14 ,  NOT WS_TABSTOP, WS_EX_STATICEDGE
    GROUPBOX        "Addresses", IDC_STATIC, 5, 0, 176, 58
    AUTORADIOBUTTON "VA:", 1053, 14, 13, 39, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "RVA:", 1054, 14, 25, 39, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Offset:", 1055, 14, 38, 39, 11, BS_PUSHLIKE | BS_FLAT
    CONTROL					"",1056,"16EditControl",NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER,128, 12, 42, 12
    CONTROL					"",1060,"16EditControl",NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER,83 , 12, 42, 12
    CONTROL					"",1014,"16EditControl",NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER,128, 25, 42, 12
    //CONTROL					"",1061,"16EditControl",NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER,83 , 25, 42, 12
    CONTROL					"",1015,"16EditControl",NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_BORDER,128, 38, 42, 12
    LTEXT           "Section:", IDC_STATIC, 18, 74, 67, 8, SS_LEFT
    EDITTEXT        1088, 128, 72, 42, 12, NOT WS_TABSTOP | ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Bytes:", IDC_STATIC, 18, 87, 20, 8, SS_LEFT
    EDITTEXT        1057, 54, 85, 116, 12, NOT WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Hex Edit", 1058, 185, 91, 51, 14, WS_DISABLED | NOT WS_TABSTOP, WS_EX_STATICEDGE
    GROUPBOX        "Additional Information", IDC_STATIC, 5, 60, 176, 45
}

////////////////////////////////////////

106 DIALOGEX 0, 0, 234, 158
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ Characteristics ]"
FONT FontSize, FaceName, 0, 0, 1
{
    PUSHBUTTON      "OK", 1020, 174, 5, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", 1021, 174, 20, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    GROUPBOX        "Set Flags", IDC_STATIC, 5, 0, 160, 150
    GROUPBOX        "Current Value", IDC_STATIC, 170, 125, 57, 25
    CTEXT           "Static", 1022, 178, 137, 40, 8, SS_CENTER
    AUTOCHECKBOX    "Relocation stripped", 1000, 12, 12, 77, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Executable Image", 1001, 12, 20, 73, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Line numbers stripped*", 1002, 12, 28, 88, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Locale symbols stripped*", 1003, 12, 36, 108, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Aggressive WS Trime", 1004, 12, 44, 93, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Bytes reversed low", 1005, 12, 70, 93, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Large address aware", 1006, 12, 52, 93, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "(reserved,for future use)", 1007, 12, 61, 91, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Debug information stripped*", 1008, 12, 86, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Run from swap (removeable)", 1009, 12, 94, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "File System*", 1010, 12, 110, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Dll", 1011, 12, 118, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "No muliprocessor systems", 1012, 12, 126, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "32 bit machine expected", 1013, 12, 78, 93, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Run from swap (net)", 1014, 12, 102, 103, 8, NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "Bytes reserved high", 1015, 12, 134, 103, 8, NOT WS_TABSTOP | BS_FLAT
}

////////////////////////////////////////

107 DIALOGEX 0, 0, 232, 182
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ Subsystem Flags ]"
FONT FontSize, FaceName, 0, 0, 1
{
    PUSHBUTTON      "OK", 1130, 174, 5, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", 1131, 174, 20, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    GROUPBOX        "Set Flags", IDC_STATIC, 5, 0, 160, 177
    GROUPBOX        "Current Value", IDC_STATIC, 170, 152, 57, 25
    CTEXT           "Static", 1132, 178, 163, 40, 8, SS_CENTER
    AUTORADIOBUTTON "Unknown", 1134, 18, 18, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Native", 1135, 18, 31, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Windows Gui", 1136, 18, 44, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Windows Console", 1137, 18, 57, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Posix Console", 1138, 18, 71, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "Windows CE", 1139, 18, 84, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "EFI application", 1140, 18, 97, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "ELF Driver with boot  services", 1141, 18, 111, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "ELF Driver with run-time services", 1142, 18, 124, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "EFI ROM image", 1143, 18, 137, 125, 11, BS_PUSHLIKE | BS_FLAT
    AUTORADIOBUTTON "XBOX", 1144, 18, 151, 125, 11, BS_PUSHLIKE | BS_FLAT
}

////////////////////////////////////////

108 DIALOGEX 0, 0, 219, 155
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE	WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ Machine Type ]"
FONT FontSize, FaceName, 0, 0, 1
{
    DEFPUSHBUTTON   "OK", IDOK, 163, 3, 50, 14, 0, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", IDCANCEL, 163, 20, 50, 14, 0, WS_EX_STATICEDGE
    GROUPBOX        "Machine Type", IDC_STATIC, 7, 3, 150, 144
    GROUPBOX        "Value", IDC_STATIC, 164, 100, 48, 46
    LTEXT           "Static", 1000, 178, 119, 19, 8, SS_LEFT
    LISTBOX         1001, 13, 14, 138, 125, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY
}

////////////////////////////////////////

109 DIALOGEX 0, 0, 201, 162
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE	WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ Dll Characteristics ]"
FONT FontSize, FaceName ,0 ,0 ,1
{
    DEFPUSHBUTTON   "OK", 1000, 142, 7, 50, 14, 0, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", 1001, 142, 24, 50, 14, 0, WS_EX_STATICEDGE
    GROUPBOX        "Value", IDC_STATIC, 5, 1, 133, 156
    AUTOCHECKBOX    "(Reserved,must be zero)", 1149, 15, 15, 113, 8,NOT WS_TABSTOP | BS_FLAT
    AUTOCHECKBOX    "(Reserved,must be zero)", 1150, 15, 25, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "(Reserved,must be zero)", 1151, 15, 35, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "(Reserved,must be zero)", 1152, 15, 46, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "Dynamic Base", 1153, 15, 56, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "Force Integrity", 1154, 15, 66, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "NX Compat", 1155, 15, 77, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "NO Isolation", 1156, 15, 87, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "NO SEH", 1157, 15, 97, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "NO Bind", 1158, 15, 107, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "(Reserved,must be zero)", 1159, 15, 118, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "WDM Driver", 1160, 15, 128, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    AUTOCHECKBOX    "Terminal Server Aware", 1161, 15, 139, 113, 8,NOT WS_TABSTOP  | BS_FLAT
    GROUPBOX        "Value", IDC_STATIC, 142, 117, 48, 40
    LTEXT           "Static", 1002, 156, 135, 19, 8, SS_LEFT
}

////////////////////////////////////////

110 DIALOGEX 0, 0, 268, 234
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION "[ Directory Table ]"
FONT 8, "MS Shell Dlg", 0, 0, 1
{
    GROUPBOX        "Directory Information", IDC_STATIC, 7, 7, 196, 220
    LTEXT           "RVA", IDC_STATIC, 85, 14, 16, 8, SS_LEFT
    LTEXT           "Size", IDC_STATIC, 131, 14, 14, 8, SS_LEFT
    LTEXT           "ExportTable:", IDC_STATIC, 16, 23, 41, 8, SS_LEFT
    LTEXT           "ImportTable:", IDC_STATIC, 15, 35, 40, 8, SS_LEFT
    LTEXT           "Resource:", IDC_STATIC, 15, 47, 34, 8, SS_LEFT
    LTEXT           "Exception:", IDC_STATIC, 15, 60, 34, 8, SS_LEFT
    LTEXT           "Security:", IDC_STATIC, 15, 72, 28, 8, SS_LEFT
    LTEXT           "Relocation:", IDC_STATIC, 15, 85, 37, 8, SS_LEFT
    LTEXT           "Debug:", IDC_STATIC, 15, 97, 24, 8, SS_LEFT
    LTEXT           "Copyright:", IDC_STATIC, 15, 109, 32, 8, SS_LEFT
    LTEXT           "Globalptr:", IDC_STATIC, 15, 122, 31, 8, SS_LEFT
    LTEXT           "TlsTable:", IDC_STATIC, 15, 134, 30, 8, SS_LEFT
    LTEXT           "LoadConfig:", IDC_STATIC, 15, 147, 39, 8, SS_LEFT
    LTEXT           "BoundImport:", IDC_STATIC, 15, 159, 43, 8, SS_LEFT
    LTEXT           "IAT:", IDC_STATIC, 16, 171, 14, 8, SS_LEFT
    LTEXT           "DelayImport:", IDC_STATIC, 15, 184, 40, 8, SS_LEFT
    LTEXT           "COM:", IDC_STATIC, 15, 196, 50, 8, SS_LEFT
    LTEXT           "Reserved:", IDC_STATIC, 15, 209, 34, 8, SS_LEFT
    CONTROL         "", 2800, "16EditControl", 0x5080008A, 70, 23, 45, 12
    CONTROL         "", 2801, "16EditControl", 0x5080008A, 117, 23, 45, 12
    CONTROL         "", 2802, "16EditControl", 0x5080008A, 70, 35, 45, 12
    CONTROL         "", 2803, "16EditControl", 0x5080008A, 117, 35, 45, 12
    CONTROL         "", 2804, "16EditControl", 0x5080008A, 70, 47, 45, 12
    CONTROL         "", 2805, "16EditControl", 0x5080008A, 117, 47, 45, 12
    CONTROL         "", 2806, "16EditControl", 0x5080008A, 70, 60, 45, 12
    CONTROL         "", 2807, "16EditControl", 0x5080008A, 117, 60, 45, 12
    CONTROL         "", 2808, "16EditControl", 0x5080008A, 70, 72, 45, 12
    CONTROL         "", 2809, "16EditControl", 0x5080008A, 117, 72, 45, 12
    CONTROL         "", 2810, "16EditControl", 0x5080008A, 70, 85, 45, 12
    CONTROL         "", 2811, "16EditControl", 0x5080008A, 117, 85, 45, 12
    CONTROL         "", 2812, "16EditControl", 0x5080008A, 70, 97, 45, 12
    CONTROL         "", 2813, "16EditControl", 0x5080008A, 117, 97, 45, 12
    CONTROL         "", 2814, "16EditControl", 0x5080008A, 70, 109, 45, 12
    CONTROL         "", 2815, "16EditControl", 0x5080008A, 117, 109, 45, 12
    CONTROL         "", 2816, "16EditControl", 0x5080008A, 70, 122, 45, 12
    CONTROL         "", 2817, "16EditControl", 0x5080008A, 117, 122, 45, 12
    CONTROL         "", 2818, "16EditControl", 0x5080008A, 70, 134, 45, 12
    CONTROL         "", 2819, "16EditControl", 0x5080008A, 117, 134, 45, 12
    CONTROL         "", 2820, "16EditControl", 0x5080008A, 70, 147, 45, 12
    CONTROL         "", 2821, "16EditControl", 0x5080008A, 117, 147, 45, 12
    CONTROL         "", 2822, "16EditControl", 0x5080008A, 70, 159, 45, 12
    CONTROL         "", 2823, "16EditControl", 0x5080008A, 117, 159, 45, 12
    CONTROL         "", 2824, "16EditControl", 0x5080008A, 70, 171, 45, 12
    CONTROL         "", 2825, "16EditControl", 0x5080008A, 117, 171, 45, 12
    CONTROL         "", 2826, "16EditControl", 0x5080008A, 70, 184, 45, 12
    CONTROL         "", 2827, "16EditControl", 0x5080008A, 117, 184, 45, 12
    CONTROL         "", 2828, "16EditControl", 0x5080008A, 70, 196, 45, 12
    CONTROL         "", 2829, "16EditControl", 0x5080008A, 117, 196, 45, 12
    CONTROL         "", 2830, "16EditControl", 0x5080008A, 70, 209, 45, 12
    CONTROL         "", 2831, "16EditControl", 0x5080008A, 117, 209, 45, 12
    PUSHBUTTON      "_<", 3000, 165, 23, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3001, 165, 35, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3002, 165, 47, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3003, 165, 60, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3004, 165, 72, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3005, 165, 85, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3006, 165, 97, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3007, 165, 109, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3008, 165, 122, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3009, 165, 134, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3010, 165, 147, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3011, 165, 159, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3012, 165, 171, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3013, 165, 184, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3014, 165, 196, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "_<", 3015, 165, 209, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4000, 181, 23, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4001, 181, 35, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4002, 181, 47, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4003, 181, 60, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4004, 181, 72, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4005, 181, 85, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4006, 181, 97, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4007, 181, 109, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4008, 181, 122, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4009, 181, 134, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4010, 181, 147, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4011, 181, 159, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4012, 181, 171, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4013, 181, 184, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4014, 181, 196, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      ">_", 4015, 181, 209, 14, 12, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Close", 1042, 210, 7, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
    PUSHBUTTON      "Save", 1043, 210, 22, 51, 14, NOT WS_TABSTOP, WS_EX_STATICEDGE
}

////////////////////////////////////////

111 DIALOGEX 0, 0, 186, 64
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "[ PE Scanner Plugins Loader ]"
FONT FontSize, FaceName, 400, 0, 1
{
    PUSHBUTTON      ">", 101, 162, 43, 19, 15, BS_FLAT
    DEFPUSHBUTTON   "..", 100, 158, 14, 19, 15, BS_FLAT
    GROUPBOX        "Filename", IDC_STATIC, 3, 2, 178, 36
    EDITTEXT        103, 8, 14, 147, 15, ES_AUTOHSCROLL
    EDITTEXT        1001, 8, 43, 128, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "?", 102, 140, 43, 19, 15, BS_FLAT
}

////////////////////////////////////////

112 DIALOGEX 0, 0, 149, 153
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "[ Configure ]"
FONT FontSize, FaceName, 400, 0, 1
{
    GROUPBOX        "Plugins", IDC_STATIC, 7, 7, 135, 37
    GROUPBOX        "", 3, 7, 45, 135, 80
    DEFPUSHBUTTON   "OK", IDOK, 37, 132, 50, 14, BS_FLAT | WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 92, 132, 50, 14, BS_FLAT | WS_TABSTOP
    AUTOCHECKBOX    "&Enable Plugins", 100, 27, 24, 95, 8, BS_FLAT | WS_TABSTOP
    AUTOCHECKBOX    "&Log exports/imports", 101, 27, 61, 95, 8, BS_FLAT | WS_TABSTOP
    AUTOCHECKBOX    "E&nable recent files", 102, 27, 78, 95, 8, BS_FLAT | WS_TABSTOP
    PUSHBUTTON      "&Delete configure files", 103, 27, 103, 95, 14, BS_FLAT | WS_TABSTOP
}

////////////////////////////////////////

800					DIALOGEX	0,0,224,120
STYLE				DS_CENTER | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_VISIBLE | WS_CAPTION
EXSTYLE			WS_EX_TOOLWINDOW | WS_EX_APPWINDOW
CAPTION			"[ Resource Dumper ]"
FONT				FontSize,FaceName,0,0,1
{
						CONTROL			"0",1,"SysTreeView32",WS_BORDER | WS_HSCROLL | WS_VSCROLL | WS_CHILD | WS_VISIBLE | TVS_LINESATROOT | WS_CLIPSIBLINGS | TVS_HASLINES | TVS_HASBUTTONS,2,2,220,100
						PUSHBUTTON	"&Close",1001,2,105,50,13,,WS_EX_STATICEDGE
						PUSHBUTTON	"&Dump!",1000,54,105,50,13,,WS_EX_STATICEDGE
}

/*
 * icon
 ***/
 
100         ICON  "ico100.ico"

/*
 * bitmap
 ***/
 
100         BITMAP  "img100.bmp"

